<a href="https://colab.research.google.com/github/cleysonl/Pytorch/blob/master/Python_CC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Crash Course

In [2]:
comparison_operation = 1 < 2 or 2 < 3
print(comparison_operation)

True

In [3]:
names = ['Thomas', 'Jane', 'James']
sorted(names)

['James', 'Jane', 'Thomas']

In [4]:
'-'.join(names)

'Thomas-Jane-James'

### Tuples

In [6]:
traits = 'tall', 'slim', 'blonde'
# A tuple can be written with and without parenthesis
bol = traits == ('tall', 'slim', 'blonde')
print(bol)
height, build, hair =  traits
print(height, build)

True
tall slim

### Sets

In [7]:
duplicate_numbers = [1,1,2,2,3,3]
unique_numbers = set(duplicate_numbers)
print(unique_numbers)

{1, 2, 3}

In [0]:
unique_numbers.add(6)

In [10]:
print(unique_numbers)

{1, 2, 3, 6}

In [11]:
print(6 in unique_numbers)

True

### Dictionaries

In [0]:
inventory = {'bananas': 1.29 , 'apples' : 2.99, 'papayas' : 1.39}

In [14]:
inventory['bananas'] = 2.99
print(inventory['bananas'])

2.99

In [16]:
strawberries_price = inventory.get('strawberries_price')
print(strawberries_price)

None

In [17]:
print('celery' in inventory)

False

### if, else

In [0]:
grocery_items = {'bananas': 2.99, 'apples': 1.29, 'papayas':2.39}

In [23]:
item = 'rutabagas'
if item in grocery_items:
  print('found the', item)
else:
  print('could not find the', item)
  # add the new item to the dictionary
  grocery_items.update({item:2.99})
  print('just added the item, here is the updated grocery list', grocery_items)

could not find the rutabagas
just added the item, here is the updated grocery list {'bananas': 2.99, 'apples': 1.29, 'papayas': 2.39, 'brussels sprouts': 2.99, 'rutabagas': 2.99}

### elif

In [24]:
item, price = 'rutabagas', 3.99
if item in grocery_items:
  print('found the', item)
elif price > 2.99:
  print('too expensive for inventory')
else:
  print('could not find the', item)
  # add the new item to the dictionary
  grocery_items.update({item:2.99})
  print('just added the item, here is the updated grocery list', grocery_items)

found the rutabagas

In [25]:
daytime = 'dawn'

if daytime == 'dawn':
  print('still asleep')
elif daytime == 'morning':
  print('time to go to work')
elif daytime == 'noon':
  print('time to take a lunch break')
elif daytime == 'afternoon':
  print('time to go home')
else:
  print('time to go to sleep')

still asleep

### Complex Comparisons

In [0]:
reynolds_number = 1000

if 2000< reynolds_number < 10000:
  print('flow regime is transitional')

In [0]:
if reynolds_number > 2000 and reynolds_number <10000:
  print('flow is transitional')

In [31]:
if reynolds_number < 2000 or reynolds_number >= 10000:
  print('flow is not transitional')

flow is not transitional

### For Loops

In [32]:
months = ['January', 'February', 'March']

for month in months:
  print(month)

January
February
March

In [34]:
for number in range(1,100):
  print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [43]:
movies = {'Titanic': 1987, 'Finding Nemo': 2003}

for (key,value) in movies.items():
  print('The movie {}, was made in {}'.format(key,value))

The movie Titanic, was made in 1987
The movie Finding Nemo, was made in 2003

### Break and Continue

In [5]:
numbers = list(range(9)) 

for number in numbers:
  if number%2 !=0:
    continue
  print(number)

0
2
4
6
8

In [6]:
for number in numbers:
  if number%2 !=0:
    break
  print(number)

0

### Functions

In [7]:
numbers =[1,2,3,4,5]

def even_or_odd(number):
  return number % 2 ==0

print(list(filter(even_or_odd, numbers)))

[2, 4]

In [8]:
print(list(filter(lambda number: number % 2 ==0, numbers)))

[2, 4]